[submodule "vendor/php/yaml"]
	path = vendor/php/yaml
	url = git://github.com/fabpot/yaml.git
[submodule "public/blog/wp-content/plugins/php-varnish"]
	path = public/blog/wp-content/plugins/php-varnish
	url = git@github.com:criticaljuncture/php-varnish.git
